/* Sidebar */
.sidebar {
  border-right: 1px solid var(--background-color);
  flex: 0.2;
  padding-right: 20px;
  padding-left: 20px;
  min-width: 210px;
}

.sidebar__icon {
  margin-top: 15px;
}

.sidebar__icon > h1 {
  color: var(--accent-color);
  font-size: 25px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.sidebar__icon > h1.short_title {
  display: none;
}

/* Feed */
.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed {
  flex: 0.5;
  border-right: 1px solid var(--background-color);
  overflow-y: scroll;
}

/* Widgets */
.widgets {
  flex: 0.3;
  padding: 0 20px;
}

/* QuizQuestionEditor */
.QuizCreatingPanel {
  flex: 0.5;
  overflow-y: scroll;
}

.QuizCreatingPanel::-webkit-scrollbar {
  display: none;
}

.QuizCreatingPanel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
