/* Sidebar */
.sidebar,
.QuizDetailsPanel {
  border-right: 1px solid var(--background-color);
  flex: 0.2;
  padding-right: 20px;
  padding-left: 20px;
  min-width: 210px;
}

.sidebar__icon {
  margin-top: 15px;
}

.sidebar__icon > h1 {
  color: var(--accent-color);
  font-size: 25px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.sidebar__icon > h1.short_title {
  display: none;
}

/* Feed */
.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed {
  flex: 0.5;
  border-right: 1px solid var(--background-color);
  overflow-y: scroll;
}

/* Widgets */
.widgets {
  flex: 0.3;
  padding: 0 20px;
}

/* QuizQuestionEditor */
.QuizCreatingPanel {
  flex: 0.6;
  overflow-y: scroll;
}

.QuizCreatingPanel::-webkit-scrollbar {
  display: none;
}

.QuizCreatingPanel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Quiz Details Panel */
.QuizDetailsPanel {
  padding-top: 20px;
}

.quizImage__dragndrop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.quizImage__dragndrop > img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--background-color);
}

.quiz_title {
  margin-bottom: 10px !important;
}

.quiz_type {
  margin-bottom: 10px;
}

/* Question Details Panel */
.QuestionDetailsPanel {
  flex: 0.2;
  padding: 20px;
  border-left: 1px solid var(--background-color);
}

.delete {
  margin-top: 10px;
}

.question_type__selector {
  margin-top: 10px;
}
